:root {
  --clr-gray-dark: hsl(0, 0%, 63%);
  --clr-black: hsl(0, 0%, 0%);
  --clr-gray-very-dark: hsl(0, 0%, 27%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-link: rgb(118, 75, 238);

  --ff: 'Spartan', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: var(--ff);
  font-weight: 500;
  line-height: 1.6;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.page {
  overflow-x: hidden;
}

.content {
  min-height: 100vh;

  display: grid;
  grid-template:
    'menu menu menu menu arrows title title title'
    'imgLeft imgLeft about about about imgRight imgRight imgRight';

  grid-template-rows: 1.3fr 1fr;
  grid-auto-columns: 5fr 3fr 2fr;

  &__item {
    &--menu {
      position: relative;

      grid-area: menu;

      background: url('../images/desktop-image-hero-1.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      padding: 6rem;
    }

    &--title {
      position: relative;

      grid-area: title;
      grid-row: 1 / 2;
      grid-column: 5 / span 4;

      background: var(--clr-white);

      padding: 3rem clamp(2rem, 8vw, 4rem) 10rem clamp(2rem, 8vw, 4rem);

      display: flex;
      align-items: center;
      z-index: 0;

      .title-box {
        & h1 {
          font-size: clamp(1.4rem, 3vw, 3.5rem);
          font-weight: 700;
          line-height: 1;
        }

        & p {
          font-size: clamp(1rem, 1.5vw, 1.2rem);
          font-weight: 500;
          opacity: 0.6;
        }

        & > * + * {
          margin-top: 2rem;
        }
      }
    }

    &--arrows {
      grid-area: arrows;

      background: var(--clr-black);

      display: flex;
      align-self: flex-end;
      align-items: center;
      justify-content: center;

      height: 8rem;

      z-index: 1;

      .arrow-left,
      .arrow-right {
        background: var(--clr-dark);

        border: none;

        display: flex;
        align-items: center;
        align-self: stretch;
        justify-content: center;

        width: 100%;

        cursor: pointer;
        transition: 0.6s;

        &:hover {
          background: var(--clr-gray-very-dark);
        }

        &:focus {
          outline: none;
        }
      }
    }

    &--imgLeft {
      grid-area: imgLeft;

      background: url('../images/image-about-dark.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      z-index: -1;
    }

    &--about {
      grid-area: about;

      background: var(--clr-white);

      padding: clamp(1rem, 5vw, 7rem);
      z-index: 0;

      .about-box {
        & h2 {
          font-size: clamp(1.4rem, 2vw, 1.4rem);
          text-transform: uppercase;
          letter-spacing: 0.5rem;
          margin-bottom: 1.5rem;
        }

        & p {
          font-size: clamp(1rem, 1vw, 1.2rem);
          color: var(--clr-gray-very-dark);
          opacity: 0.6;
        }
      }
    }

    &--imgRight {
      grid-area: imgRight;

      background: url('../images/image-about-light.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      display: flex;
      align-items: flex-end;
      justify-content: flex-end;

      // z-index: -1;
    }
  }
}

.menu-box {
  display: flex;
  align-items: center;

  & input {
    position: fixed;
    z-index: 2000;
    appearance: none;
    visibility: hidden;
  }
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 5rem;

  z-index: 0;
}

.nav {
  &__item:first-child {
    margin-left: 3rem;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    list-style: none;

    & > * + * {
      margin-left: 3rem;
    }
  }

  &__link {
    position: relative;

    text-decoration: none;
    font-size: clamp(1.4rem, 2vw, 1.6rem);
    color: var(--clr-white);
    opacity: 0.8;

    &:after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -0.5rem;
      width: 0;
      height: 0.3rem;

      transform: translateX(-50%);
      background: var(--clr-white);
      transition: all 0.3s ease-in;
    }

    &:hover::after {
      width: 2.5rem;
    }
  }
}

.btn {
  &,
  &:link {
    position: relative;

    background: none;

    border: none;
    text-transform: uppercase;
    text-align: left;
    color: var(--clr-black);
    font-weight: 700;
    letter-spacing: 0.8rem;
    cursor: pointer;
    transition: all 0.5s;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: -8rem;
      width: 5rem;
      height: 100%;

      background: url('../images/icon-arrow.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      transition: all 0.5s;
    }

    &:hover {
      color: var(--clr-gray-dark);

      &::after {
        transform: translateX(2rem);
        opacity: 0.5;
      }
    }
  }

  &:focus {
    outline: none;
  }
}

.attribution {
  font-size: clamp(0.8rem, 2vw, 1.2rem);
  text-align: center;
}
.attribution a {
  position: relative;
  color: inherit;
  text-decoration: underline;
  text-decoration-color: var(--clr-link);
  cursor: pointer;
  z-index: 0;

  &::before {
    content: '';
    position: absolute;
    width: calc(100% + 0.2em);
    left: -0.1em;
    bottom: 0.04rem;
    height: clamp(0.9rem, 3vw, 1.5rem);
    background: var(--clr-link);
    border-radius: 0.3em;
    transform: scale(1, 0.2);
    transform-origin: 0 95%;
    transition: transform 0.3s ease;
    opacity: 0.3;
    z-index: -1;
  }

  &:hover::before {
    transform: scale(1, 1);
  }
}

@media (max-width: 600px) {
  .content {
    grid-template:
      'menu menu'
      '. arrows'
      'title title'
      'imgLeft imgLeft'
      'about about'
      'imgRight imgRight';
    grid-auto-rows: minmax(min-content, 16rem);
    grid-auto-columns: 1fr;
    grid-template-rows: repeat(auto-fit, minmax(30rem, min-content));

    &__item {
      &--menu {
        grid-row: 1 / 2;
        padding: 0;

        .menu-box {
          position: relative;
          flex-direction: column;

          & input {
            position: fixed;

            width: 3rem;
            height: 3rem;
            left: 2rem;
            top: 2.5rem;

            appearance: none;
            visibility: visible;
            cursor: pointer;
            z-index: 5000;

            &:checked ~ .nav {
              top: 0;
              transition: top 1.5s cubic-bezier(0.19, 1, 0.22, 1);
            }
          }

          &::before {
            content: '';
            position: absolute;
            top: 2rem;
            left: 2rem;
            width: 3rem;
            height: 3rem;

            background: url('../images/icon-hamburger.svg');
            background-repeat: no-repeat;
            background-position: center center;
            cursor: pointer;
          }

          .logo {
            margin: 2.8rem 1rem 0 7rem;
          }
        }

        .nav {
          position: fixed;

          width: 100%;
          min-height: 9rem;
          top: -120%;

          display: flex;
          align-items: center;
          justify-content: space-between;
          z-index: 1;

          background: var(--clr-white);

          transition: top 10s cubic-bezier(0.19, 1, 0.22, 1);
          box-shadow: 0 0.3rem 0.3rem rgba(3, 3, 3, 0.2);

          &__list {
            position: relative;

            height: 100%;
            width: 100%;

            padding-left: 2rem;

            justify-content: flex-end;

            & > * + * {
              margin-left: 1rem;
            }

            &:last-child {
              margin-right: 0.5rem;
            }

            &::before {
              content: '';
              position: absolute;
              left: 2rem;
              width: 3rem;
              height: 3rem;
              background: url('../images/icon-close.svg');
              background-repeat: no-repeat;
              background-position: center center;
              cursor: pointer;
            }
          }

          &__item {
            position: relative;
            z-index: 2;
          }

          &__link {
            color: var(--clr-black);
            font-weight: 600;

            &:after {
              background: var(--clr-gray-very-dark);
            }
          }
        }
      }

      &--title {
        grid-row: 2 / 3;
        grid-column: 1 / 3;

        padding: 2rem;
      }

      &--arrows {
        grid-row: 1 / 2;
        height: 5rem;
        z-index: 0;
      }

      &--about {
        grid-row: 4 / 5;

        .about-box {
          padding: clamp(1rem, 5vw, 7rem);

          & h2 {
            font-size: clamp(1.4rem, 2vw, 1.4rem);
          }

          & p {
            font-size: clamp(1.2rem, 1vw, 1.2rem);
          }
        }
      }

      &--imgLeft {
        grid-row: 3 / 4;
      }

      &--imgRight {
        grid-row: 5 / 7;
      }
    }
  }

  .btn {
    &::after {
      width: 3rem;
      right: -4rem;

      background-size: contain;
    }
  }

  .shadow {
    &:after {
      content: '';
      position: absolute;
      top: 9rem;
      height: 100vh;
      width: 100%;
      background: rgba(3, 3, 3, 0.7);
    }
  }
}

@media (max-width: 250px) {
  .btn {
    &::after {
      left: 0;
      bottom: -2rem;
    }
  }
}

.nav--2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  height: 10rem;

  background: var(--clr-white);
  animation: move 0.5s;

  img {
    margin-right: auto;
    transform: translateX(2.5rem);
  }

  &__item:first-child {
    margin-left: 3rem;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    list-style: none;
    margin-right: 2rem;
    margin-left: 1rem;
    padding: 1rem 0;

    & > * + * {
      margin-left: 3rem;
    }
  }

  &__link {
    position: relative;
    text-decoration: none;
    font-size: clamp(1.4rem, 2vw, 1.6rem);
    color: var(--clr-black);
    opacity: 0.8;

    &:after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -0.4rem;
      width: 0;
      height: 0.3rem;
      transform: translateX(-50%);
      background: var(--clr-gray-very-dark);
      transition: all 0.3s ease-in;
    }

    &:hover::after {
      width: 2.5rem;
    }
  }
}

@media (max-width: 250px) {
  .nav--2__list {
    margin: 0;
  }
}

@keyframes move {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}
